.custom-image {
	height: 200px !important;
	width: 100%  !important;
	margin-top: 50px;
}
.mt-20-px {
	margin-top: 20px !important;
}

@media screen and (min-width: 992px) {
	.hight-card-img {
		height: 140px !important;
	}
}